.active {
  color: blue;
}

a{  
  color: black;
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.links {
  list-style-type: none;
  align-self: center;  
}

.links li {
  float:left;
  padding: 0 10px;
}

.title {
  font-size: 2em;
}
