.calc__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 1px;
  grid-row-gap: 1px;
  max-width: 600px;
  padding: 20px 20px;
}

.disStyle {
  grid-area: 1 / 1 / 2 / 5;
  background-color: #3d3b3a;
  color: white;
}

.disStyle::placeholder {
  color: white;
  text-align: end;
}

.zero {
  grid-area: 6 / 1 / 7 / 3;
  border: solid 1px gray;
}

.orange {  
  background-color: #ff6200;
}

.orange:hover {
  background-color: #bd4b03;
}

.orange:active {
  background-color: #ff6200;
}

.defBtn {   
  height: 50px;
}
